/* ---- CSS Demo ---- */


/* ---- Box Sizing ---- */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/* ---- Global Styles ----*/  
body{
    background-color: dodgerblue;
      }
  h1,h2,h3,h4,h5,h6{
    font-family: "Gabarito", sans-serif
    }
    header.primary{background:red}